# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Additional files
*.ipch
*.pdb
*.idb
*.ilk
*.tlog
*.log
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sdf
*.opensdf
*.suo
*.ncb
*.user
*.sln
*.swp
*.bak
*.tmp
*.dSYM/
*.vscode